/******************** MEDIAQUERY *******************/
/******************** MEDIAQUERY *******************/
/******************** MEDIAQUERY *******************/

@media screen and (min-width: 768px)
{
    
    div.plats
    {
        width: 50%;
    }
    
    
 div.text-wrapper h3
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 2vw;
    margin-top: 0.7rem;
}

div.text-wrapper p
{
    margin-left: 0;
    margin-top: 0.2rem;
    margin-right: 0;
    font-size: 2vw;
    overflow: hidden;
}
       
}




body
{
    padding: 0;
    margin: 0;
}


a
{
    text-decoration: none;
    color: black;
}


h1, h2, h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

p
{
    font-family: 'Roboto', sans-serif;  
}


/******************** LOGO *******************/
/******************** LOGO *******************/
/******************** LOGO *******************/



.logo
{
    width: 100%;
    padding: 0.6rem 0;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
}


.button-retour i
{
    position: absolute;
    left: 5%;
    margin: 0.5rem auto;
}


.logo i
{
    font-size: 1.3rem;
}


.logo-photo img
{
    width: 12rem;
}




/******************** Photo *******************/
/******************** Photo *******************/
/******************** Photo *******************/


.bk-photo img
{
    width: 100%;
}

.header-txt
{
    display: flex;
    justify-content: center;
    height: 2rem;
}

.header-txt h2 
{
    margin: 0;
    padding-right: 1rem;
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
    font-size: 150%;
}

.header-txt i
{
    margin: 0;
    font-size: 150%;
    font-weight: 300;
    padding-top: 0.3rem;
}

i:hover
    {
        font-weight: 700;
        color: rgba(153, 0, 153, 0.8);
    }

/******************** entées *******************/

.menu-box
{
    width: 100%;
    position: absolute;
    top: 36%;
    background-color: 	rgb(242, 242, 242);
    border-radius: 40px 40px 0px 0px;
}




.entrees
{
    border-bottom: 2px solid #99E2D0;
    width: 8%;
    padding-bottom: 0.5rem;
    margin-left: 0.8rem;
    margin-top: 2rem;
}


.plats
{
    width: 95%;
    height: 6rem;
    margin: auto;
    display: flex;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 5px rgba(191, 191, 191, 0.1);
    background-color: white;
    overflow: hidden;
}


.header-txt
{
    margin-top: 2rem;
}



.text-wrapper
{
    width: 96%;
    margin: auto 0.5rem;
}


.text-wrapper h3
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size:4.7vw;
    margin-top: 0.7rem;
}

.text-wrapper p
{
    margin-left: 0;
    margin-top: 0.2rem;
    margin-right: 0;
    font-size: 4vw;
    overflow: hidden;
}


.prix
{
    display: flex;
    margin: 0;
}

.prix h3
{
    margin: 3.4rem 1.5rem 0 0;
}



           /******* fade-in-animation *******/


.plats-1, .plats-2, .plats-3
{
    transition: all 500ms ease-in-out;
}


.plats-4, .plats-5, .plats-6
{
    transition: all 500ms ease-in-out;
    transition-delay: 900ms;
}


.plats-7, .plats-8, .plats-9
{
    transition: all 500ms ease-in-out;
    transition-delay: 1200ms;
}


     /******* push-left-on-hover-animation *******/


.icon-check-box, .icon-check-box i
{
    width: 0;
    overflow: hidden;
    transition: width 500ms;
}



.plats:hover .icon-check-box i
{
    display: block;
    margin: 2rem auto;
    font-size: 1.3rem;
    color: white;
    animation: rotation 500ms linear;
    width: auto;
    padding-top: 1px;
}


.plats:hover .icon-check-box
{
    display: block;
    width: 8vh;
    height: auto;
    background-color: #99E2D0;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(350deg);
  }
}


/******************** BUTTON *******************/

.btn-box
{
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

.btn-box button

{
    padding: 1rem 2rem;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(#ff80b3, #ad33ff);
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 5px 5px 5px #d6d6c2;
}


/******************** FOOTER *******************/
/******************** FOOTER *******************/
/******************** FOOTER *******************/


.footer
{
    width: 100%;
    background-color: #414242;
    color: white;
    padding: 1rem 0;
}


.footer-logo
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-family: 'Shrikhand', cursive;

}


.footer-logo, .footer-icon-1, .footer-icon-2, p
{
    margin: 0.5rem 1rem;
}






