body
{
    padding: 0;
    margin: 0;
}


a
{
    text-decoration: none;
    color: black;
}


h1, h2, h3
{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

p
{
    font-family: 'Roboto', sans-serif;  
}

/******************** PRELOADER *******************/

/******* the code that hides the div after 3s *********/

.hideMe {
    -moz-animation: cssAnimation 0s ease-in 1.5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 1.5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 1.5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 1.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/******* The background *********/

.preloader
{
    width: 100%;
    height: 200vw;
    background-color: #ffffff; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    justify-self: center;
    
}

.loader {
    border: 16px solid #ffffff;
    border-radius: 50%;
    border-top: 16px solid rgb(223, 57, 223);
    border-bottom: 16px solid rgb(81, 15, 156);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%; 
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/******************** LOGO *******************/
/******************** LOGO *******************/
/******************** LOGO *******************/



.logo
{
    width: 100%;
    padding: 0.6rem 0;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
}


.button-retour i
{
    position: absolute;
    left: 5%;
    margin: 0.5rem auto;
}


.logo i
{
    font-size: 1.3rem;
}


.logo-photo img
{
    width: 12rem;
}




/******************** Photo *******************/
/******************** Photo *******************/
/******************** Photo *******************/


.bk-photo img
{
    width: 100%;
}

.header-txt
{
    display: flex;
    justify-content: center;
    height: 2rem;
}

.header-txt h2 
{
    margin: 0;
    padding-right: 1rem;
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
    font-size: 150%;
}

.header-txt i
{
    margin: 0;
    font-size: 150%;
    font-weight: 300;
    padding-top: 0.3rem;
    transition: color 0.6s linear;
}

i:hover
    {
        font-weight: 700;
        color: rgba(153, 0, 153, 0.8);
    }

/******************** entées *******************/

.menu-box
{
    width: 100%;
    position: absolute;
    top: 36%;
    background-color: 	rgb(242, 242, 242);
    border-radius: 40px 40px 0px 0px;
}




.entrees
{
    border-bottom: 2px solid #99E2D0;
    width: 8%;
    padding-bottom: 0.5rem;
    margin-left: 0.8rem;
    margin-top: 2rem;
}


.plats
{
    width: 95%;
    height: 6rem;
    margin: auto;
    display: flex;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 5px rgba(191, 191, 191, 0.1);
    background-color: white;
    overflow: hidden;
}


.plats:hover
{
    box-shadow: 0px 0px 10px 7px rgb(191, 191, 191);
}
 


.header-txt
{
    margin-top: 2rem;
}



.text-wrapper
{
    width: 96%;
    margin: auto 0.5rem;
}


.text-wrapper h3
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size:3vw;
    margin-top: 0.7rem;
}

.text-wrapper p
{
    margin-left: 0;
    margin-top: 0.2rem;
    margin-right: 0;
    font-size: 3vw;
    overflow: hidden;
}


.prix
{
    display: flex;
    margin: 0;
}

.prix h3
{
    margin: 3.4rem 1.5rem 0 0;
}



           /******* fade-in-animation *******/


.plats-1 
{
    transition: all 500ms ease-in-out;
}

.plats-2
{
    transition: all 700ms ease-in-out;
}


.plats-3
{
    transition: all 1000ms ease-in-out;
}


.plats-4
{
    transition: all 1300ms ease-in-out;

}

.plats-5
{
    transition: all 1600ms ease-in-out;
}


.plats-6
{
    transition: all 2000ms ease-in-out;
}


.plats-7
{
    transition: all 2300ms ease-in-out;
}

.plats-8
{
    transition: all 2600ms ease-in-out;
}


.plats-9
{
    transition: all 3000ms ease-in-out;
}



     /******* push-left-on-hover-animation *******/


.icon-check-box, .icon-check-box i
{
    width: 0;
    overflow: hidden;
    transition: width 500ms;
}



.plats:hover .icon-check-box i
{
    display: block;
    margin: 2rem auto;
    font-size: 1.8rem;
    color: white;
    animation: rotation 500ms linear;
    width: auto;
    padding-top: 1px;
}


.plats:hover .icon-check-box
{
    display: block;
    width: 8vh;
    height: auto;
    background-color: #99E2D0;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(350deg);
  }
}


/******************** BUTTON *******************/

.btn-box
{
    width: 100%;
    padding: 2rem 0;
    text-align: center;
}

.btn
{
    padding: 1rem;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(#ff80b3, #ad33ff);
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 5px 5px 5px #d6d6c2;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}

.btn:hover
{
    transform: scale(1.15);
    cursor: pointer;
}




/******************** FOOTER *******************/
/******************** FOOTER *******************/
/******************** FOOTER *******************/


.footer
{
    width: 100%;
    background-color: #414242;
    color: white;
    padding: 1rem 0;
}


.footer-logo
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-family: 'Shrikhand', cursive;

}


.footer-logo, .footer-icon-1, .footer-icon-2, p
{
    margin: 0.5rem 1rem;
}


/******************** MEDIAQUERY *******************/
/******************** MEDIAQUERY *******************/
/******************** MEDIAQUERY *******************/

@media screen and (min-width: 768px)
{
    
    div.plats
    {
        width: 50%;
    }
    
    
 div.text-wrapper h3
{
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.5vw;
    margin-top: 0.7rem;
}

div.text-wrapper p
{
    margin-left: 0;
    margin-top: 0.2rem;
    margin-right: 0;
    font-size: 1.5vw;
    overflow: hidden;
}
       
}




